<div class="card mx-auto mt-5" style="max-width:400px">>
  <div class="card-header">
    <h2>Resend confirmation instructions</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class:"form-group" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
</div>

<div class="mx-auto" style="max-width:400px">
  <%= render "devise/shared/links" %>
</div>